@font-face {
    font-family: FuturaBold;
    src: url("../fonts/FuturaLT-Bold.ttf") format('truetype');
}
@font-face {
    font-family: FuturaCondensed;
    src: url("../fonts/FuturaLT-Condensed.ttf") format('truetype');
}
@font-face {
  font-family: Ezra;
  direction: rtl;
  src: url('../fonts/ezrasilsr-webfont.ttf') format('truetype');
}

body{
  margin: 0;
  display: block;
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  background-size: 100%;
  background-color: #F0E9D7;
}
/* styling for hamburger mobile navigation */
.mobile-nav{
  display:none;
  margin:10px 0 5px 10px;
  font-size:15px;
}
.mobile-menu{
  margin:0;
  padding:0;
  display:none;
  background-color:black;
  position:absolute;
  list-style-type:none;
  margin-top: 5px;
  margin-left:10px;
  padding-left:10px;
  padding-right:10px;
  transform : scale(1.1,1);
  -webkit-transform:scale(1.1,1); /* Safari and Chrome */
  -moz-transform:scale(1.1,1); /* Firefox */
  -ms-transform:scale(1.1,1); /* IE 9+ */
  -o-transform:scale(1.1,1);
  z-index:5;
}
.mobile-menu li{
  display:block;
  margin:10px 0;
  cursor:pointer;
}
.mobile-menu li a{
  color:#e8ba92;
  list-style-type:none;
  text-decoration:none;
}
.mobile-menu li a:hover{
  color:#fff;
}
.mobile-guest-artist-nav{
  margin:0;
  padding:0 10px;
}
.menu-ham{
  padding:10px;
  cursor:pointer;
}
#menu-toggle{
  display:none;
}
#menu-toggle:checked + .mobile-menu {
  display: block;
}

.web-guest-artist-nav{
  margin:0;
  padding:0;
  display: none;
  background-color:black;
  position:absolute;
  list-style-type:none;
  margin-left:-10px
  margin-top: 5px;
  padding-left:10px;
  padding-right:10px;
  padding-bottom:10px;
  font-size:16px;
  width:250px;
  color:#e8ba92;
}
.web-guest-artist-nav li{
  display:block;
  padding:4px;
  cursor:pointer;
}
.web-guest-artist-nav li a{
  color:#e8ba92;
  list-style-type:none;
  text-decoration:none;
}
.web-guest-artist-nav li a:hover{
  color:#fff;
}

#guest-artist-toggle{
  display:none;
}
#guest-artist-toggle:checked + .web-guest-artist-nav{
  display:block;
}
/* styling for web menu bar */
.menu-bar{
  display:inline-block;
  position:relative;
  z-index:10;
  font-family:FuturaBold;
  width:100%;
  background-color:#000;
  color:#e8ba92;
}
.menu-bar ul > li:hover, .menu-bar ul > li:focus, .menu-bar ul > li:active {
  color:#fff;
}
.web-nav-ga{
  cursor:pointer;
}
.web-nav{
  display:inline-block;
  list-style-type:none;
  font-size:20px;
  margin:10px;
  padding:0;
}
.web-nav > li{
  display:inline-block;
  margin:0 20px;
  cursor:pointer;
  transform : scale(1.1,1);
  -webkit-transform:scale(1.1,1); /* Safari and Chrome */
  -moz-transform:scale(1.1,1); /* Firefox */
  -ms-transform:scale(1.1,1); /* IE 9+ */
  -o-transform:scale(1.1,1);
}
.web-nav > li:hover{
  color:#fff
}
.web-nav li a{
  color:#e8ba92;
  list-style-type:none;
  text-decoration:none;
}
.web-nav li a:hover{
  color:#fff;
}
/* styling for icon bar (twitter, youtube, facebook) */
.icon-bar{
  display:inline-block;
  float:right;
  padding-right:20px;
}
.icon-bar img{
  margin-top:2px;
  padding:6px 15px;
  height:2em;
  width:2em;
}
.icon-bar a{
  text-decoration:none;
  cursor:pointer;
}
.header{
  position:relative;
  background-image:url("../images/guestartists/background.png");
  padding:10px;
  -webkit-box-shadow: 0px 5px 10px 4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 10px 4px rgba(0,0,0,0.75);
  box-shadow: 0px 5px 10px 4px rgba(0,0,0,0.75);
}
.header-img{
  width:15%;
}
.page-title {
  font-family:FuturaBold;
  position:inherit;
  background-color:#5C3818;
  color:#FFFDD4;
  margin:0;
  padding:10px;
  font-size:12px;
  text-align:center;
  z-index:-1;
}
.page-title h2{
  margin:0;
  padding:5px;
}
.music-container{
  width: 60%;
  margin-left: 20%;
}
.music-container a{
  text-decoration: none;
  color:#FF4900;
}
.music-container a:hover, .music-container a:active {
  text-decoration:underline;
}
.music-panel{
  display: flex;
  background-color: #F0E9D7;
}
.music-partial{
  display: inline-block;
  padding: 2% 5%;
  width: 50%;
}
.music-partial p{
  color: #59441E;
  padding: 10px 0;
  margin: 0;
}
.music-partial p img{
  width: 70%;
  margin-left: 12%;
}
.album-cover{
  width: 100%;
  -webkit-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.75);
}
.dark-panel{
  background-color: #E4D8C4;
}
.darker-panel{
  background-color: #D4C39C;
}
.full-panel{
  display:block;
}
.album-title{
  padding: 0;
  margin: 0;
  padding-top: 3%;
  font-family: 'Kaushan Script', cursive;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
}
.booklet-container{
  width: 100%;
  text-align: center;
  font-size: 0.8em;
  color: #79643E;
}
.booklet-container img{
  width: 80%;
}
.booklet-container h2{
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.song-credits{
  display:flex;
  margin-left: 16px;
}
.song-credits p{
  font-size: 14px;
  margin: 0;
  padding: 0;
}
.song-credit-name{
  flex-shrink: 0;
  margin: 0 2px;
}
.song-credit-list{
  margin: 0 2px;
}
.purchase{
  padding: 5px 0;
  margin: 0;
  color: #59441E;
}
.purchase p{
  padding: 2px 0;
  margin: 0;
  font-size: 12px;
}
.purchase h2{
  padding: 2px 0;
  margin: 0;
  font-size: 14px;
}
.soundclip{
  padding: 0;
  margin: 0;
  font-weight: 400;
  color: #59441E;
}
.mixing-credits{
  width: 90%;
  padding: 2% 5%;
  text-align: center;
}
.songbook-panel{
  display:block;
  width:100%;
  margin: auto;
}
.songbook-panel img{
  margin-left:5%;
  width:90%;
}
.songbook-panel-info{
  width:100%;
  margin:2%;
}
.songbook-title{
  width: 90%;
  padding: 2% 5%;
  margin: 0;
  text-align: center;
}
.songbook-info{
  width: 90%;
  padding: 1% 5%;
  margin: 0;
  text-align: center;
}
.preorder{
  width: 100%;
  text-align: center;
  font-size: 14px;
}
.songbook-container{
  width: 100%;
  max-width: 600px;
  margin: auto;
}
.songbook-container img{
  width: 100%;
}
.songbook-pages{
  width: 100%;
  max-width: 800px;
  margin: auto;
}
.songbook-pages img{
  width: 100%;
  margin: auto;
}
.ezra {
  font-family: Ezra;
  font-size: 18px;
}
audio{
  width:100%;
  border: 2px solid #003333;
  margin: 5px 0;
}

@media screen and (max-width: 1300px) {
  .header{
    text-align:center;
  }
  .header-img{
    width:20%;
  }
  .music-container{
    width:100%;
    margin-left:0;
  }
}

@media screen and (max-width: 1000px) {
  .web-nav{
    display:none;
  }
  .mobile-nav{
    display:inline-block;
  }
  .pfos-info{
    top:34px;
  }
  .icon-bar{
    padding-right:10px;
    margin-top:4px;
  }
  .icon-bar img{
    padding:0 10px;
    height:1.5em;
    width:1.5em;
  }
}

@media screen and (max-width: 850px) {
  .header{
    text-align:center;
  }
  .header-img{
    width:40%;
  }
  .music-container{
    width:100%;
    margin: 0;
  }
  .music-panel{
    display:block;
  }
  .music-partial{
    width: 90%;
  }
  .songbook-panel{
    width: 70%;
  }
}
